<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400&display=swap" rel="stylesheet">
    <link rel="shorcut icon" href="/images/favicon.ico">
    <title>Log In</title>
</head>
<body>

    <div id="logo">
        <img id="imagen" src="/images/logo-group.svg">
    </div>
    <section id="formulario">
        <h1>Log In</h1>
        <input class="control" type="text" placeholder="Correo Electrónico">
        <input class="control" type="text" placeholder="Contraseña">
        <input class="boton control" style="font-weight:bolder;" type="submit" value="Ingresar">
        <a href="/" id="enlace">¿Eres nuevo/a?</a>
    </section>
    
</body>
</html>